.home-container {
  min-width: 320px;
  text-align: center;
  padding: 15px 5px 121px 5px;
  border: 1px solid red;
  flex-direction: column;
}

.home-image-container {
  background-color: #00285f;
  border: 1px solid goldenrod;
  border-radius: 10px;
}

.home-image-container img {
  padding: 62px 20px 35px 28px;
  width: 100%;
  height: auto;
}

.home-image-container h1 {
  font-size: 22px;
  padding-bottom: 13px;
  color: #fff;
}

.home-image-container p {
  padding: 0 20px 25px 20px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.home-card-search {
  padding-top: 20px;
}

.home-container-botton {
  padding-top: 22px;
  border: 1px solid greenyellow;
  height: 120px;
  background-color: #ededed;
  border-radius: 10px;
}

.home-container-botton p {
  padding-top: 5px;
  text-align: center;
  font-size: 18px;
}
